.edit-video-container {
  max-width:550px;
  margin:80px auto;
  background:var(--bg-secondary);
  padding:28px;
  border-radius:10px;
  box-shadow:0 0 25px rgba(0,0,0,.5);
}

.edit-video-container h2{
  color:white;
  font-size:24px;
  text-align:center;
  margin-bottom:15px;
}

.edit-video-form input,
.edit-video-form textarea,
.edit-video-form select{
  background:var(--bg-card);
  color:white;
  border:1px solid var(--border-color);
}

.save-btn{
  background:var(--red);
  padding:10px;
  border-radius:6px;
  cursor:pointer;
  font-weight:600;
}

.save-btn:hover { opacity:.85; }
