
:root {
  --bg-main: #0f0f0f;
  --bg-secondary: #181818;
  --bg-card: #202020;
  --border-color: #303030;
  --text-main: #fff;
  --text-secondary: #b8b8b8;
  --red: #ff0000;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Roboto", sans-serif;
}

a { color: inherit; text-decoration: none; }

input, textarea, select {
  background: var(--bg-card);
  color: var(--text-main);
  border: 1px solid var(--border-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary);
}

html, body, #root {
  background: #0f0f0f !important;
}
