
.home-container {
    width: 100%;
    min-height: 100vh;
    padding: 120px 20px 40px; 
    background: #0f0f0f;
    color: #fff;
}

.main-content {
    background-color: #0f0f0f !important;}

/* Title */
.section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 5px;
}

/* VIDEO GRID */
.video-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 22px;
    margin-top: 15px;
}


/* VIDEO CARD */
.video-card {
    background: #181818;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    color: #fff;
}

.video-card:hover {
    transform: scale(1.03);
}

/* THUMBNAIL */
.thumbnail {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0,0,0,0.8);
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 4px;
}

/* VIDEO INFO */
.video-info {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.channel-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #555;
}

/* Text */
.video-title {
    font-size: 15px;
    font-weight: 600;
}

.video-channel,
.video-stats {
    font-size: 12px;
    color: #aaa;
}

/* responsive */
@media(max-width: 900px){
    .home-container{
        margin-left: 0;
        padding-top: 120px;
    }
}
