

.app-container {
  display: flex;
  background-color: #0f0f0f;
  color: white;
}

/* Main content (video grid, channel, upload pages etc) */
.main-content {
  margin-left: 240px;        /* space for sidebar */
  margin-top: 60px;          /* space for navbar */
  width: calc(100% - 240px);
  min-height: 100vh;
  padding: 20px;
  background-color: #0f0f0f;
  color: white;
}

/* For responsive layout */
@media(max-width: 768px){
  .main-content{
    margin-left: 70px;
    width: calc(100% - 70px);
  }
}