/* Fullscreen Center Layout */
.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#1e1e1e,#272727);
  padding: 20px;
  color: #fff;
   position:relative;
}

.login-box {
  width: 380px;
  padding: 35px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  animation: fadeUp .6s ease;
}

/* Title */
.login-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #bbbbbb;
  font-size: 14px;
}

/* Inputs */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #ddd;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  background: rgba(255,255,255,0.12);
  color: #fff;
}

.form-group input:focus {
  border: 1px solid #ff0000;
}

/* Button */
.login-btn {
  width: 100%;
  background: #ff0000;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background: #e60000;
}

/* Register link */
.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link span {
  color: #ff5757;
  cursor: pointer;
  font-weight: 600;
}

.register-link span:hover { text-decoration: underline; }

/* Animation */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}
