
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  height: 60px;
  background: #0f0f0f !important;
  color: white;
  border-bottom: 1px solid #272727;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.logo span { color: #ff3b30; }

/* Search Bar */
.search-area {
  display: flex;
  width: 40%;
  border-radius: 30px;
  overflow: hidden;
  background: #121212;
  border: 1px solid #333;
  transition: 0.3s;
}
.search-area:hover { border-color: #555; }

.search-area input {
  flex: 1;
  padding: 10px 15px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.search-area button {
  width: 55px;
  background: #272727;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}
.search-area button:hover { background: #3d3d3d; }

/* Right */
.right-section {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 14px;
}

.sign-btn,.signup-btn,.logout-btn {
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.sign-btn { color:white;border:1px solid #555; }
.sign-btn:hover { background:#222; }

.upload-btn-nav {
  background:rgba(102, 44, 44, 0.248);
  color:white;
  padding:8px 16px;
  border-radius:6px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

.signup-btn,.logout-btn {
  background:#ff3b30;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup-btn:hover,.logout-btn:hover { background:#d72b23; }
