/* ================= NAVBAR ================= */

header.navbar {
  background: #0f0f0f !important;
  color: #fff !important;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;

  z-index: 100;
  border-bottom: 1px solid #222;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.logo i {
  color: #ff0000;
  font-size: 25px;
}

/* Search Area */
.search-area {
  display: flex;
  align-items: center;
  flex: 0.6;
  height: 38px;
  background: #121212;
  border: 1px solid #333;
  border-radius: 30px;
  overflow: hidden;
}

.search-area input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0 15px;
  font-size: 15px;
}

.search-area button {
  background: #222;
  border-left: 1px solid #333;
  padding: 0 18px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.search-area button:hover {
  background: #333;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
  gap: 14px;
}

.sign-btn, .signup-btn, .upload-btn-nav, .logout-btn {
  color: #fff;
  background: #272727;
  padding: 8px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  transition: .2s;
  border: none;
}

.upload-btn-nav {
  background: #ff0000;
  font-weight: 600;
}

.sign-btn:hover, .signup-btn:hover, .logout-btn:hover {
  background: #3a3a3a;
}

.upload-btn-nav:hover {
  background: #cc0000;
}

/* Responsive */
@media(max-width: 768px){
  .search-area {
    flex: 0.9;
  }

  .right-section span {
    display: none;
  }
}
