.sidebar {
    width: 230px;
    background-color: #121212;
    height: 100vh;
    position: fixed;
    padding: 15px 0;
    color: white;
    border-right: 1px solid #222;
    overflow-y: auto;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sidebar-item {
    padding: 10px 22px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #ddd;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar-item:hover {
    background-color: #272727;
    color: white;
}

.sidebar-title {
    font-size: 13px;
    text-transform: uppercase;
    opacity: .6;
    padding: 0 22px;
    margin: 8px 0;
}

.Create-channel{
    background:rgba(102, 44, 44, 0.248);
  color:white;
  padding:8px 16px;
  border-radius:6px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;

}
