/* ================= SIDEBAR ================= */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background: #0f0f0f;
  color: #fff;
  padding-top: 12px;
  overflow-y: auto;
  border-right: 1px solid #222;
}

.sidebar-item,
.Create-channel {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 22px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: .25s;
}

.sidebar-item:hover,
.Create-channel:hover {
  background: #202020;
}

.sidebar-title {
  font-size: 13px;
  text-transform: uppercase;
  color: #bbb;
  margin: 12px 22px 8px;
}

.divider {
  margin: 12px 0;
  border: 0;
  border-bottom: 1px solid #222;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
}

/* Hover effect with YouTube color tint */
.sidebar-item:hover i,
.Create-channel:hover i {
  color: #ff0000;
}

/* mobile responsive */
@media(max-width: 900px){
  .sidebar {
    width: 200px;
  }
}

@media(max-width: 700px){
  .sidebar {
    position: fixed;
    left: -100%;
    transition: .3s ease;
  }

  .sidebar.open {
    left: 0;
  }
}

/* Scrollbar hidden */
.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar.collapsed {
  width: 70px;              /* collapsed size */
  overflow: hidden;
  transition: .3s ease;
}

/* Hide text when collapsed */
.sidebar.collapsed .sidebar-item span,
.sidebar.collapsed .sidebar-title,
.sidebar.collapsed h4 {
  display: none;
}

/* Icons center align when collapsed */
.sidebar.collapsed .sidebar-item {
  justify-content: center;
  padding: 12px 0;
}
