.upload-container {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.upload-container h2 {
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-form input,
.upload-form textarea,
.upload-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.upload-btn {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.upload-btn:hover {
  background: #d40000;
}