.upload-container {
  max-width: 500px;
  margin: 80px auto;
  background: var(--bg-secondary);
  padding: 30px;
  border-radius: 12px;
  box-shadow:0 0 25px rgba(0,0,0,.45);
}

.upload-container h2{
  text-align:center;
  margin-bottom:15px;
  font-weight:700;
  color:white;
}

.upload-form {
  display:flex;
  flex-direction:column;
  gap:14px;
}

.upload-form input,
.upload-form textarea,
.upload-form select {
  border-radius:8px;
  padding:10px;
  font-size:15px;
}

.upload-btn {
  background:red;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.upload-btn:hover { opacity:.8; }
