.video-card {
  width: 280px;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  cursor: pointer;
}

.thumbnail-container {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-details {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.channel-logo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.info .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
  line-height: 1.2;
}

.meta {
  font-size: 13px;
  color: #555;
}

.meta.small {
  font-size: 12px;
  color: #777;
}

/* Responsive */
@media(max-width:768px) {
  .video-card { width: 45%; }
}

@media(max-width:500px) {
  .video-card { width: 100%; }
}
